*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.content{
    padding: 10px;
    min-width: 300px;
}

.button_cont button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: teal;
    color: white;
    width: 100%;

}

.button_cont button:hover{
    box-shadow: 1px 0px 10p #eee;
}